<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy - Select Chapters</title>
    <link rel="stylesheet" href="css/chapterSelect.css">
</head>

<body>
    <div class="selectBox">
        <div id="selectChapter">
            <form action="/chaptertest" method="post">
                <div class="flex-between">
                    <h1>Chapters</h1>
                    <input id="submit" type="submit" value="Select">
                </div>
                <div class="list">
                </div>
            </form>
        </div>
    </div>

    <script>
        // subject Suggestions
    let chapterList = [];
    chapterListStr = `<%= chapterData %>`;
   chapterList = chapterListStr.split(",");

   const count={};
        chapterList.forEach((ele) =>{
            count[ele] = (count[ele] || 0) + 1;
        });
        let chapterName = Object.keys(count);
        let chapterCount = Object.values(count);

        let chapterli = document.querySelector(".list")
        for(i=0; i<chapterName.length; i++){
            chapterli.innerHTML += `<span class="flex-between" style="position:relative;">
    <li> <input type="checkbox" name="chapter" value="${chapterName[i]}">
        ${chapterName[i]}</li>
    <i style="position:absolute;right:10px;padding:10px;">${chapterCount[i]}</i>
    </span>`;
        }
    </script>
</body>

</html>