<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('nav.ejs'); %>

    <header>
        <h1><img src="img/headerwrite.wpeg.png" alt=""></h1>
        <p> @amitanshu_sahu the creator of the universe</p>
    </header>

    <section class="sec1">
        <div class="content">
            <h1>The Ultimate Self Study Help</h1>
            <p>take tests, track yourself and much more </p>
        </div>
        <div class="imgholder">
            <img src="img/make-note.svg" alt="image">
        </div>
    </section>

    <section class="sec2">
        <div class="content">
            <h1>Give Your Own Mock Tests</h1>
            <p>check weather you remember it or not</p>
        </div>
        <div class="imgholder">
            <img src="img/test.svg" alt="image">
        </div>
    </section>

    <section class="sec3">
        <div class="content">
            <h1>Track Your Own Progress</h1>
            <p>check if today was better than yesterday</p>
        </div>
        <div class="imgholder">
            <img src="img/track-progress.svg" alt="image">
        </div>
    </section>

    <section class="sec4">
        <div class="content">
            <h1>Be Your Own Teacher</h1>
            <p>taking test, analyzing yourself - you are a teacher of yourself</p>
        </div>
        <div class="imgholder">
            <img src="img/stand-on-book.svg" alt="image">
        </div>
    </section>

    <footer>
        copyright 2022 @amitanshu_sahu
    </footer>
</body>

</html>