<nav>
    <li class="logo"><img src="img/logo.png" alt="Study Buddy"></li>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/upload">Upload</a></li>
        <li class="drop"><a>Test</a>
        <div id="dropdown">
            <span><a href="/subjecttest">Subject Test</a></span>
            <span><a href="/chaptertest">Chapter Test</a></span>
            <span><a href="/topictest">Topic Test</a></span>
        </div>
        </li>
        <li><a href="/track">Track</a></li>
    </ul>
</nav>