<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy - Select</title>
    <link rel="stylesheet" href="css/test.css">
</head>

<body>
    <div class="selectBox">
        <h1>Subjects</h1>
        <div id="selectSubject">
            <form action="/selectsubject" method="post">
                <% for(let i=0; i< data.length ; i++){%>
                    <!-- <span><%= data[i].subject %></span> -->
                    <input type="checkbox" name="topic" value="<%= data[i].subject %>">
                    <%= data[i].subject %>
                    <% } %>
                    <input type="submit" value="Select">
            </form>
        </div>
    </div>
</body>

</html>